body {
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 90vh;
}

.game-wrapper {
    width: 100%;
}

.game, .score-board {
    margin: 10px auto;
}

.score-board, .score-board th, .score-board td {
    border: 1px solid black;
}

th {
    width: 80px;
}

.boxes {
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
}